body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    border-radius: 1rem;
    background-image: url("../background.jpg");
}

.quiz {
    text-align: center;
}

h1 {
    font-family: 'MedievalSharp', cursive;
    text-shadow: black 0 0 10px;
}

p {
    font-family: 'MedievalSharp', cursive;
    text-shadow: black 0 0 10px;
    font-size: 25px;
}

#loggedInUser {
    text-shadow: black 0 0 10px;
    font-size: 20px;
}

#score {
    padding-top: 1rem;
    padding-right: 0;
    font-size: 20px;
}

h1 span {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
}


button {
    border-radius: 20px;
    border: 1px solid forestgreen;
    background-color: forestgreen;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 5px 10px 20px 0;
    width: 200px;
    height: 50px;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 0 10px 14px -7px black;

}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 8px;
    width: 100%;

}

input[type="text"] {
    width: 300px;
}

@media (max-width: 1024px) {

    #loggedInUser {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    #score {
        position: absolute;
        right: 3.5rem;
        top: 5rem;
    }

    #imgBox {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        order: 3;
        justify-content: space-evenly;
    }

    img {
        width: 300px;
        height: 200px;
        padding: 5px;

    }

    #gif{
        width: 640px;
        height: 480px;
        box-shadow: #1F1C2C;
        border-radius: 10px;
        border: black solid 10px;
        margin: 50px;
    }
}

@media (min-width: 1025px) {

    #imgBox {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        order: 3;
        justify-content: space-evenly;
    }

    img {
        width: 30rem;
        height: 20rem;
        padding: 5px
    }

    #loggedInUser {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    #gif{
        width: 1024px;
        height: 768px;
        box-shadow: #1F1C2C;
        border-radius: 10px;
        border: black solid 10px;
        margin: 50px;
    }




}
